@import "bootstrap";
@import "bootstrap-icons";

/* #region header */
header {
    background-color: #255F38;
    z-index: 0;
    position: relative;
    height: 130px;

    .d-flex {
        height: 130px;
    }
}

/* #region svgs adaptations */
#header_complexity_1 {
    position: absolute;
    right: 12%;
    top: 0;
    background-image: url(/assets/img/header-bg-1.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px;
    width: 50%;
    z-index: 1;
}

#header_complexity_2 {
    background-image: url(/assets/img/header-bg-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 130px;
    width: 29%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

/* #endregion svgs adaptations */

.nav-link {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 90px;
    text-align: center;
}

.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

.nav-link.active {
    background-color: #1F7D53;
    color: white;
    font-weight: bold;
}

/* #endregion header */

/* #region cards */
.card-container {
    margin: 0 3%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card-title {
    font-weight: 800;

}

/* optional, applies text */
/* .card-text {
    max-height: 6rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} */

.card-tags .badge {
    padding: 0.3rem 0.5rem;
}

.badge {
    font-size: 0.9rem;
    background-color: #1F7D53;
    padding: 0.3rem 0.5rem;
}

.text_highlight {
    color: #1F7D53;
}

/* #endregion cards */


.form-control::placeholder {
    color: #9CA3AF;
}

.form-control:focus::placeholder {
    color: #6C757D;
}

.nav-tabs .nav-link.active {
    background-color: #255F38;
    border-color: #145A32;
}

.nav-tabs .nav-link:hover {
    background-color: #145A32;
    border-color: #255F38;
}

/* Custom Button Styling */
.btn-custom {
    background-color: #1F7D53;
    /* Green background */
    color: white;
    /* White text */
    border: 2px solid #145A32;
    /* Dark green border */
    border-radius: 8px;
    /* Rounded corners */
    padding: 10px 20px;
    /* Padding for better spacing */
    font-weight: bold;
    /* Bold text */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
    /* Smooth transitions */
}

.btn-custom {
    background-color: #1F7D53;
    color: white;
    border: 2px solid #145A32;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.2s ease;
}

.btn-custom:hover {
    background-color: #145A32;
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-custom:active {
    background-color: #0F4D2E;
    transform: scale(0.95);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}